@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap");

@import "tailwindcss";

@font-face {
  font-family: "Baguede";

  src: url("./assets/fonts/BaguedeFree-Regular.otf") format("opentype");

  font-weight: normal;
  font-style: normal;
}

.orbitron-font {
  font-family: "Orbitron", sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  overflow-x: hidden;

  background-color: #0b0f14;

  color: #ffffff;

  font-family: "Geist", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image:
    linear-gradient(rgba(255, 255, 255, 0.025) 1px, transparent 1px),
    linear-gradient(to right, rgba(255, 255, 255, 0.025) 1px, transparent 1px);

  background-size: 40px 40px;
}
